{% extends '::base.html.twig' %}
{% block title %}Add Game{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ form_stylesheet(form) }}
{% endblock %}
{% block body %}
<div class="container">
	<div class="page-header">
	    <h1>Add Game</h1>
	</div>
	{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6" id="div_alert">
		{% if form.vars.errors|length or form.localpoints.vars.errors|length or form.visitorpoints.vars.errors|length  %}
			<div class="alert alert-danger" role="alert">
			{% if form.vars.errors|length %}
				{% for error in form.vars.errors %}
					{{ error.message }}<br>
				{% endfor %}
			{% endif %}
			{% if form.localpoints.vars.errors|length %}
				{% for error in form.localpoints.vars.errors %}
					<strong>{{ form.localpoints.vars.label }}:</strong> {{ error.message }}<br>
				{% endfor %}
			{% endif %}
			{% if form.visitorpoints.vars.errors|length %}
				{% for error in form.visitorpoints.vars.errors %}
					<strong>{{ form.visitorpoints.vars.label }}:</strong> {{ error.message }}<br>
				{% endfor %}
			{% endif %}
			</div>
		{% endif %}
		</div>
	</div>
	{% if gameadded is defined %}
	<div class="row">
		<div class="col-md-6">
			<div class="alert alert-warning" role="alert">Game <strong>{{ gameadded.localclub.name }}</strong> versus <strong>{{ gameadded.visitorclub.name }}</strong> was <strong>{{ gameadded.gamestate|lower }}</strong> in round <strong>{{ gameadded.round.name }}</strong> on <strong>{{ gameadded.gamedate|date('d-m-Y') }}</strong>. You can't add it again !!</div>
		</div>
	</div>
	{% endif %}
	{% if clubadded is defined %}
	<div class="row">
		<div class="col-md-6">
			{% if clubadded.localclub.name == form.vars.value.localclub.name or clubadded.localclub.name == form.vars.value.visitorclub.name %}
			<div class="alert alert-warning" role="alert">Club <strong>{{ clubadded.localclub.name }}</strong> was <strong>{{ clubadded.gamestate|lower }}</strong> in round <strong>{{ clubadded.round.name }}</strong> against <strong>{{ clubadded.visitorclub.name }}</strong>. You can't add it again !!</div>
			{% endif %}
			{% if clubadded.visitorclub.name == form.vars.value.localclub.name or clubadded.visitorclub.name == form.vars.value.visitorclub.name %}
			<div class="alert alert-warning" role="alert">Club <strong>{{ clubadded.visitorclub.name }}</strong> was <strong>{{ clubadded.gamestate|lower }}</strong> in round <strong>{{ clubadded.round.name }}</strong> against <strong>{{ clubadded.localclub.name }}</strong>. You can't add it again !!</div>
			{% endif %}
		</div>
	</div>
	{% endif %}

	{% if added is defined %}
	<div class="row">
		<div class="col-md-6">
			<div class="alert alert-success" role="alert">Game <strong>{{ added.localclub.name }}</strong> versus <strong>{{ added.visitorclub.name }}</strong> is <strong>{{ added.gamestate|lower }}</strong> in round <strong>{{ added.round.name }}</strong> on <strong>{{ added.gamedate|date('d-m-Y H:i') }}</strong> correctly !!</div>
		</div>
	</div>
	{% endif %}
	<div class="row">
		<div class="col-md-3"><h3>{{ form_label(form.localclub) }}</h3></div>
		<div class="col-md-3"><h3>{{ form_label(form.visitorclub) }}</h3></div>
	</div>
	<div class="row">
		<div class="col-md-2" id="div_localclub">
	        {{ form_widget(form.localclub, {'attr': {'class': 'form-control', 'tabindex': '1'}}) }}
		</div>
		<div class="col-md-1 {% if form.localpoints.vars.errors|length %}has-error{% endif %}">
	        {{ form_widget(form.localpoints, {'attr': {'class': 'form-control', 'tabindex': '2'}}) }}
		</div>
		<div class="col-md-2" id="div_visitorclub">
			{{ form_widget(form.visitorclub, {'attr': {'class': 'form-control', 'tabindex': '3'}}) }}
		</div>
		<div class="col-md-1 {% if form.visitorpoints.vars.errors|length %}has-error{% endif %}">
	        {{ form_widget(form.visitorpoints, {'attr': {'class': 'form-control', 'tabindex': '4'}}) }}
		</div>
	</div>
	<div class="row"><div class="col-md-2">&nbsp;</div></div>
	<div class="row">
		<div class="col-md-2">
			{{ form_widget(form.round, {'attr': {'class': 'form-control', 'tabindex': '5'}}) }}
		</div>
		<div class="col-md-2">
			{{ form_widget(form.gamedate, {'attr': {'class': 'form-control', 'tabindex': '6'}}) }}
		</div>
		<div class="col-md-2">
			{{ form_widget(form.gamestate, {'attr': {'class': 'form-control', 'tabindex': '7'}}) }}
		</div>
	</div>
	<div class="row"><div class="col-md-2">&nbsp;</div></div>
	<div class="row">
		<div class="col-md-2 col-md-offset-3">
			<div class="form-group pull-right">
        	{{ form_widget(form.saveAndAdd, {'attr': {'class': 'btn btn-success btn-lg', 'tabindex': '8'}}) }}
        	</div>
        </div>
		<div class="col-md-1">
			<div class="form-group pull-right">
        	{{ form_widget(form.save, {'attr': {'class': 'btn btn-success btn-lg', 'tabindex': '9'}}) }}
        	</div>
        </div>        
    </div>
	{{ form_end(form) }}			
</div>
{% endblock  %}
{% block javascripts %}
    {{ parent() }}
    {{ form_javascript(form) }}
	<script src="{{ asset('bundles/ecucurellasportiu/js/addgame.js') }}" type="text/javascript"></script>
{% endblock %}