{% if empty %}
    <div class="page-header">
        <h1>Game</h1>
    </div>
    <div class="alert alert-warning">
        There is no game with id {{ id }} !!
    </div>
{% else %}
    <div class="page-header">
      <h3>
        {% if played %}
          <span class="label label-success">{{ game.gamedate|date('d-m-Y') }}</span> <span class="label label-success">{{ game.gamedate|date('H:i') }}</span>
        {% elseif suspended %}
          <span class="label label-danger">{{ game.gamedate|date('d-m-Y') }}</span> <span class="label label-danger">{{ game.gamedate|date('H:i') }}</span> <span class="label label-danger">suspended</span>
        {% elseif calendar %}
          <span class="label label-primary">{{ game.gamedate|date('d-m-Y') }}</span>
        {% elseif scheduled %}
          <span class="label label-warning">{{ game.gamedate|date('d-m-Y') }}</span> <span class="label label-warning">{{ game.gamedate|date('H:i') }}</span>
        {% endif %}
        {% if app.user %}
            <a class="btn btn-primary" href="{{ path("ecucurella_SporTiu_games_id_edit", {gameid: game.id}) }}" role="button">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                Edit
            </a>
            <a class="btn btn-danger" href="{{ path("ecucurella_SporTiu_games_id_delete", {gameid: game.id}) }}" role="button" onclick="return confirm('Are you sure you want to delete this game ?')">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                Remove
            </a>
        {% endif %}
      </h3>
    </div>
		<div class="row">
      {% if game.localclub.logo != '' %}
  		  <div class="col-md-1 text-center">
          <img alt="{{ game.localclub.abbreviation }}" src="{{ asset(game.localclub.logo) }}" height="75">
        </div>
      {% endif %}
      <div class="col-md-3">
        {% if played %}
          {% if game.localpoints == game.visitorpoints %}
            <h3 class="text-center text-warning">{{ game.localclub.name }}</h3>
          {% elseif game.localpoints > game.visitorpoints %}
            <h3 class="text-center text-success">{{ game.localclub.name }}</h3>
          {% else %}
            <h3 class="text-center text-danger">{{ game.localclub.name }}</h3>
          {% endif %}
        {% else %}
            <h3 class="text-center">{{ game.localclub.name }}</h3>
        {% endif %}
      </div>
      <div class="col-md-1">
        {% if played %}
          <h3 class="text-center"><strong>{{ game.localpoints }} - {{ game.visitorpoints }}</strong></h3>
        {% else %}
          <h3 class="text-center"><strong>vs</strong></h3>        
        {% endif %}
      </div>
      <div class="col-md-3"> 
        {% if played %}
          {% if game.localpoints == game.visitorpoints %}
            <h3 class="text-center text-warning">{{ game.visitorclub.name }}</h3>
          {% elseif game.localpoints > game.visitorpoints %}
            <h3 class="text-center text-danger">{{ game.visitorclub.name }}</h3>
          {% else %}
            <h3 class="text-center text-success">{{ game.visitorclub.name }}</h3>
          {% endif %}
        {% else %}
          <h3 class="text-center">{{ game.visitorclub.name }}</h3>
        {% endif %} 
      </div>
      {% if game.visitorclub.logo != '' %}
        <div class="col-md-1 text-center">
          <img alt="{{ game.visitorclub.abbreviation }}" src="{{ asset(game.visitorclub.logo) }}" height="75">
        </div>
      {% endif %}
    </div>
{% endif %} 